{% extends 'base.html' %} {% block content %}

<div class="row">
  <div class="col-md-4">
    <h2>Rule 1</h2>
    <p>First-round draft picks shall not be kept. </p>
  </div>
  <div class="col-md-4">
    <h2>Rule 2</h2>
    <p>
      Keeper players require relinquishing a draft pick one round higher (+1) 
      than the player’s original draft round, regardless of how they were aquired.   
    </p>
  </div>
  <div class="col-md-4">
    <h2>Rule 3</h2>
    <p>
      Keeper players acquisition through free agency relinquishes a 10th-round draft pick, 
      unless originally drafted in which case Rule 2 applies.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h2>Rule 4</h2>
    <p>
      Keeper players may not be retained for more than two consecutive years.
    </p>
  </div>
  <div class="col-md-4">
    <h2>Rule 5</h2>
    <p>
      Trades involving draft picks must consist of a direct exchange of one draft pick for another. 
      Any trades may be subject to veto through a voting process.
    </p>
  </div>
  <div class="col-md-4">
    <h2>Rule 6</h2>
    <p>
      Teams must field a complete roster for weekly matches, 
      but exceptions may be made to avoid potential disadvantages.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h2>Rule 7</h2>
    <p>
      While Sleeper bot transitions to full automation, 
      commissioners will manage the team, following strategies based on highest-predicted points.
    </p>
  </div>
  <div class="col-md-4">
    <h2>Rule 8</h2>
    <p>
      League settings will not be adjusted during the season without strong consensus.
    </p>
  </div>
  <div class="col-md-4">
    <h2>Rule 9</h2>
    <p>
      Any rules not explicitly specified or overridden shall be subject to a voting process for approval.
      The commissioners reserves the right to take action to maintain league fairness and integrity.
    </p>
  </div>
</div>

  {% endblock %}
</div>
