{% extends 'base.html' %} {% block content %}
<div class="jumbotron">
  <div class="container">
    <h5>Reigning Champion (2023)</h5>
    <h2 class="display-4">
      Fredrick ..aka.. <b>GreenGangSnipers</b>
    </h2>
  </div>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="col-md-4">
    <h2>Rule 1</h2>
    <p>First-round draft picks shall not be kept. </p>
  </div>
  <div class="col-md-4">
    <h2>Rule 2</h2>
    <p>
      Keeper players require relinquishing a draft pick one round higher (+1) 
      than the player’s original draft round, regardless of how they were aquired.   
    </p>
  </div>
  <div class="col-md-4">
    <h2>Rule 3</h2>
    <p>
      Kepper players acquired through free agency will relinquish a 10th-round draft pick.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h2>Rule 4</h2>
    <p>
      Trades involving draft picks must consist of a direct exchange of one draft pick for another. 
      Such trades may be subject to veto through a voting process.
    </p>
  </div>
  <div class="col-md-4">
    <h2>Rule 5</h2>
    <p>Each team must ensure that all positions are filled for every week's match. 
    <i>Please refer to the details for any exceptions.</i></p>
  </div>
  <div class="col-md-4">
    <h2>Rule 6</h2>
    <p>
      Any rules not explicitly specified shall be subject to a voting process for approval.
    </p>
  </div>
</div>
  {% endblock %}
</div>
